/* MAIN CONTAINER */
.container__card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

/* FORMS */
form {
    position: relative;
    padding-bottom: 60px;
    border-bottom: 2px solid hsl(0, 0%, 94%);
}

label {
    color: hsl(0, 1%, 44%);
}

input {
    width: 88px;
    height: 45px;
    padding-left: 12px;
    border-radius: 8px;
    border: 1px solid hsl(0, 0%, 86%);
    font-size: 1.3rem;
}

button {
    position: absolute;
    right: 0;
    bottom: -28px;
    margin-right: 118px;

    border: none;
    border-radius: 100%;
    padding: 15px;
    background-color: hsl(259, 100%, 65%);
}

button:hover {
    background-color: hsl(0, 0%, 8%);
}

img {
    width: 26px;
    height: 26px;
}

.output__container {
    border: 1px solid red;
    margin-top: 50px;
}
