/* MAIN CONTAINER */
.container__card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px 20px 85px;
    width: 340px;
    padding: 35px;
}

/* FORMS */
form {
    position: relative;
    padding-bottom: 60px;
    border-bottom: 2px solid hsl(0, 0%, 94%);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    color: hsl(0, 1%, 44%);
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
}

input {
    width: 88px;
    height: 45px;
    padding-left: 12px;
    border-radius: 6px;
    border: 1px solid hsl(0, 0%, 86%);
    font-size: 1.3rem;
}

input:focus {
    outline: 0;
    border: 1px solid hsl(259, 100%, 65%);
}

/* textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}  */

button {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 160%);

    border: none;
    border-radius: 100%;
    padding: 15px;
    background-color: hsl(259, 100%, 65%);
}

button:hover {
    background-color: hsl(0, 0%, 8%);
}

img {
    width: 26px;
    height: 26px;
}

/* RESULT OUTPUT */
.output__container {
    margin-top: 60px;
    font-size: 2.8rem;
    line-height: 2.2rem;
}

p {
    font-weight: 800;
    font-style: italic;
    color: hsl(0, 0%, 8%);
}

span {
    font-weight: 800;
    font-style: italic;
    color: hsl(259, 100%, 65%);
}

/* MEDIA QUERIES FOR RESPONSIVITY */
@media (min-width: 768px) {
	.container__card {
		width: 440px;
	}

    form {
        justify-content: start;
        padding-bottom: 40px;
    }

    form div {
        margin-right: 20px;
    }

    button {
        transform: translate(-50%, 140%);
    }

    .output__container {
        margin-top: 45px;
        font-size: 3.1rem;
    }
}

@media (min-width: 1000px) {
	.container__card {
		width: 480px;
	}

    button {
        position: absolute;
        bottom: 50%;
        left: 95%;
        transform: translate(-50%, 140%);
    
        border: none;
        border-radius: 100%;
        padding: 15px;
        background-color: hsl(259, 100%, 65%);
    } 
}
